@media screen and (max-width: 800px){
    .text-header h1{
        font-size: 50px;
    }
    .text-header h2{
        font-size: 20px;
    }
    #wave{
        height: initial;
        margin-bottom: -15px;
    }
    .container-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-about-us{
        width: 95%;
        margin-bottom: 60px;
    }
    .about-us .content-text{
        width: 95%;
    }

    .gallery-market{
        width: 45%;
    }
    .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gallery-market{
        width: 70%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav a{
        margin-right: 15px;
    }
    .text-header h1{
        font-size: 30px;
    }
    .text-header h2{
        font-size: 18px;
    }
    .gallery-market{
        width: 95%;
    }
    .contentec-text{
    align-items: baseline;
    }
    #wave{
        height: initial;
    }
}