*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.portada{
    background: #fff;

    font-size: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    align-items: center;
}
body{
    font-family: serif;

    margin-top: 0;
}
.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.title{
    font-size: 30px;
    color: #3d496b;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;

    margin: 0;
}
header{
    width: 100%;
    height: 850px;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(152, 77%, 77%, 50%), hsl(164, 35%, 19%, 50%)), url(../image/portadae.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(152, 77%, 77%, 50%), hsl(164, 35%, 19%, 50%)), url(../image/portadae.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    margin-top: 0;
}
nav {
    background: #fff;
    text-align: right;
}
.portada a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
}
.portada h1{
    color: black;
    align-items: center;
}

nav > a :hover{
    text-decoration: underline;
}
#wave{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 275px;
    overflow: hidden;
}
.text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;

}
.text-header h1{
    font-size: 80px;
    font-weight: 400;
    color: #fff;
}
.text-header h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
.container-about-us{
    display: flex;
    justify-content: space-evenly;
}
.image-about-us{
    width: 45%;
    border-radius: 10%;
    box-shadow: 0 0 6px 0;
}
.about-us .content-text{
    width: 45%;
}
.content-text h3{
    margin-bottom: 25px;
}
.content-text h3 span{
    background: #2b4251;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 6px 0;
    margin-right: 7px;
}
.content-text p{
    padding: 0px 0px 30px;
    text-align: justify;
    font-weight: 300;
}
nav h1{
    text-align: left;
}
.gallery{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap:wrap;
    position: relative;
}
.gallery-market{
    width: 20%;
    text-align: center;
    margin-left: 70px;
}
.gallery-market img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gallery-market h3{
    margin: 10px 0;
}
.gallery-market p{
    font-weight: 300;
    text-align: justify;
}
footer{
    background: cornflowerblue;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-right: 50px;
}
.contentec-footer h4{
    color: #fff;
    padding-bottom: 25px;
}
.contentec-footer p{
    color: #fff;
    font-weight: 300;
}